In [2]:
import pandas as pd

In [10]:
# importing required modules 
from zipfile import ZipFile 
  
# specifying the zip file name 
file_name = "JC-201711-citibike-tripdata.csv.zip"
  
# opening the zip file in READ mode 
with ZipFile(file_name, 'r') as zip: 
    # printing all the contents of the zip file 
    zip.printdir() 
  
    # extracting all the files 
    print('Extracting all the files now...') 
    zip.extractall() 
    print('Done!')

File Name                                             Modified             Size
JC-201711-citibike-tripdata.csv                2018-01-31 16:04:24      4133778
Extracting all the files now...
Done!

In [87]:
df = pd.read_csv("citibike-tripdata\Citi Bike trip data.csv")
df.head()

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,1062,2020-06-01 00:00:03.3720,2020-06-01 00:17:46.2080,3419,Douglass St & 4 Ave,40.679279,-73.981540,3419,Douglass St & 4 Ave,40.679279,-73.981540,39852,Customer,1997.0,2
1,3810,2020-06-01 00:00:03.5530,2020-06-01 01:03:33.9360,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,336,Sullivan St & Washington Sq,40.730477,-73.999061,37558,Subscriber,1969.0,0
2,1017,2020-06-01 00:00:09.6140,2020-06-01 00:17:06.8330,389,Broadway & Berry St,40.710446,-73.965251,3562,Classon Ave & St Marks Ave,40.676520,-73.959608,37512,Customer,1988.0,2
3,226,2020-06-01 00:00:12.1780,2020-06-01 00:03:58.8640,3255,8 Ave & W 31 St,40.750585,-73.994685,505,6 Ave & W 33 St,40.749013,-73.988484,39674,Customer,1969.0,0
4,1437,2020-06-01 00:00:21.2550,2020-06-01 00:24:18.9650,367,E 53 St & Lexington Ave,40.758281,-73.970694,497,E 17 St & Broadway,40.737050,-73.990093,21093,Customer,1997.0,2

In [88]:
df.describe()

,tripduration,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bikeid,birth_year,gender
count,2.882683e+06,2.882683e+06,2.882683e+06,2.882683e+06,2.882683e+06,2.882683e+06,2.882683e+06,2.882683e+06,2.746751e+06,2.882683e+06
mean,1.395270e+03,1.549772e+03,4.073792e+01,-7.398173e+01,1.546120e+03,4.073756e+01,-7.398187e+01,2.873504e+04,1.979972e+03,1.137923e+00
std,1.162271e+04,1.483261e+03,3.126536e-02,2.299066e-02,1.482865e+03,3.123856e-02,2.300955e-02,1.044108e+04,1.208094e+01,6.270340e-01
min,6.000000e+01,7.200000e+01,4.065540e+01,-7.408364e+01,7.200000e+01,4.065540e+01,-7.408364e+01,1.452900e+04,1.873000e+03,0.000000e+00
25%,4.820000e+02,3.610000e+02,4.071729e+01,-7.399695e+01,3.600000e+02,4.071698e+01,-7.399718e+01,1.852100e+04,1.969000e+03,1.000000e+00
50%,8.740000e+02,4.970000e+02,4.073653e+01,-7.398565e+01,4.960000e+02,4.073625e+01,-7.398602e+01,2.876100e+04,1.982000e+03,1.000000e+00
75%,1.523000e+03,3.269000e+03,4.075828e+01,-7.396905e+01,3.268000e+03,4.075757e+01,-7.396962e+01,3.957100e+04,1.990000e+03,2.000000e+00
max,2.818914e+06,4.038000e+03,4.084284e+01,-7.389795e+01,4.038000e+03,4.084284e+01,-7.389795e+01,4.454300e+04,2.004000e+03,2.000000e+00

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2882683 entries, 0 to 2882682
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                object
 2   stoptime                 object
 3   start_station_id         int64
 4   start_station_name       object
 5   start_station_latitude   float64
 6   start_station_longitude  float64
 7   end_station_id           int64
 8   end_station_name         object
 9   end_station_latitude     float64
 10  end_station_longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth_year               float64
 14  gender                   int64
dtypes: float64(5), int64(5), object(5)
memory usage: 329.9+ MB

In [91]:
df["starttime"].unique()

array(['2020-06-01 00:00:03.3720', '2020-06-01 00:00:03.5530',
       '2020-06-01 00:00:09.6140', ..., '2014-08-31 23:59:21',
       '2014-08-31 23:59:38', '2014-08-31 23:59:47'], dtype=object)

In [93]:
df["starttime"] = pd.to_datetime(df["starttime"])
df["starttime"]

0         2020-06-01 00:00:03.372
1         2020-06-01 00:00:03.553
2         2020-06-01 00:00:09.614
3         2020-06-01 00:00:12.178
4         2020-06-01 00:00:21.255
                    ...
2882678   2014-08-31 23:59:06.000
2882679   2014-08-31 23:59:17.000
2882680   2014-08-31 23:59:21.000
2882681   2014-08-31 23:59:38.000
2882682   2014-08-31 23:59:47.000
Name: starttime, Length: 2882683, dtype: datetime64[ns]

In [94]:
df["starttime"].describe()

count                        2882683
unique                       2653947
top              2014-08-29 16:21:53
freq                              11
first            2014-08-01 00:00:04
last      2020-06-30 23:59:53.901000
Name: starttime, dtype: object